@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika+Negative&display=swap');

:root{
    --color: rgb(204, 116, 0);
    --strong-color: rgb(175, 69, 20);
    --font-logo: 'Bebas Neue', arial, sans-serif;
    --font-tittles: 'Signika Negative', arial, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: arial, sans-serif;
    height: 100%;
}

/* header */
.menu-bg{
    background-color: var(--color);
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.menu-logo p{
    font-size: 2.25em;
    font-family: var(--font-logo);
    letter-spacing: 3px;
    font-weight: bold;
    margin: 0 10px;
}

.links-internos ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    font-size: 1.25em;
}

.links-internos a{
    padding: 8px;
}

.links-internos a:hover{
    color: var(--strong-color);
    background-color: #fff;
}

/* ancôra top*/

.bottom-top{
    position: fixed;
    width: 45px;
    height: 45px;
    background-color: var(--color);
    border-radius: 50%;
    border: 2px solid #fff;
    right: 10px;
    bottom: 10px;
}

.seta-cima img{
    position: absolute;
    top: 8px;
    left: 8px;
}

/* inicio */

.nome-inicio{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 50px 0 25px 0;
    flex-flow: wrap column;
    height: 130px;
}

.nome-inicio h2{
    margin-bottom: 5px;
    font-size: 1.75em;
}

.nome-inicio h3{
    font-size: 1.25em;
}

.contato{
    background: var(--color);
    border-radius: 15px;
    margin-top: 10px;
    width: 120px;
    text-align: center;
    transition: .25s;
    font-size: 1.50em;
    display: block;
    padding: 10px;
}

.contato:hover{
    color: var(--strong-color);
    width: 140px;
    border-bottom: 3px solid var(--strong-color);
}

/* minhas redes */

.redes-container{
    max-width: 960px;
    margin: 0 auto 45px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    height: 90px;
}

.redes-nome{
    margin-bottom: 15px;
}

.redes-container a:hover{
    color: var(--strong-color);
    border-bottom: 3px solid var(--strong-color);
}

.redes-itens ul{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.redes-itens a{
    background: var(--color);
    border-radius: 15px;
    margin: 0 10px;
    width: 115px;
    height: 43px;
    text-align: center;
    transition: .25s;
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

/* identficacao */

.identificacao{
    border-left: 5px solid var(--strong-color);
    border-right: 5px solid var(--strong-color);
    border-radius: 3px;
    background-color: rgb(241, 239, 239);
    max-width: 960px;
    margin: 60px auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}


.ident-desc{
    margin: 0 10px;
}

.ident-desc h1{
    font-size: 3em;
    margin-bottom: 0.5em;
    font-family: var(--font-tittles);
}

.ident-desc p{
    font-size: 1.25em;
    text-indent: 25px;
    line-height: 23px;
}

/* formação */

.formacao{
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    
}

.form-desc h1{
    font-size: 3em;
    margin-bottom: 0.5em;
    font-family: var(--font-tittles);
}

.form-desc p{
    font-size: 1.25em;
    text-indent: 25px;
}

/* expectativas */

.expectativas-futuro{
    max-width: 960px;
    padding: 0 10px;
    margin: 60px auto;
}

.expec-desc h1{
    font-size: 3em;
    margin-bottom: 0.5em;
    font-family: var(--font-tittles);
}

.expec-desc p{
    font-size: 1.25em;
    text-indent: 25px;
    line-height: 23px;
}

/* hobbies */

.hobbies{
    max-width: 960px;
    margin: 0 auto 60px auto;
    padding: 0 10px;
}

.hobbies h1{
    font-size: 3em;
    margin-bottom: 0.5em;
    font-family: var(--font-tittles);
}

.hobs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobs{
    max-width: 460px;
    color: rgb(119, 119, 119);
    background-color: rgb(231, 231, 231);
}

.hobs h3{
    font-size: 1.5em;
    padding: 40px 0 20px 25px;
    border-top: 5px solid var(--strong-color);
    font-family: var(--font-tittles);
}

.hobs p{
    font-size: 1em;
    padding: 0 25px 15px 25px;
}

/* footer */

.baixo{
    background-color: var(--color);
    display: flex;
    justify-content: center;
}

.baixo p{
    font-size: 1.25em;
    color: #fff;
    height: 65px;
    padding-top: 23px;
}

/* responsividade */

@media screen and (max-width: 970px){
    .menu{
        padding: 15px 10px;
    }
    
    .ident-desc h1, .hobbies h1, .expec-desc h1, .form-desc h1, .form-desc p{
        text-align: center;
    }

    .ident-desc p, .expec-desc p{
        text-align: justify;
    }
    
    .hobs-container{
        flex-direction: column;
        row-gap: 25px;
    }

    .hobs{
        max-width: 475px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 582px){
    .menu{
        justify-content: center;
    }

    .links-internos{
        display: none;
    }

    .nome-inicio{
        margin: 30px 0 15px;
    }

    .redes-container{
        flex-flow: wrap row;
        justify-content: center;
        margin: 0;
        height: 155px;
    }

    .redes-nome{
        margin: 0;
    }

    .redes-itens {
        width: 400px;
    }

    .redes-itens a{
        margin: 10px 10px;
    }

    .identificacao{
        margin: 30px auto;
        padding: 25px 0;
    }

    .expectativas-futuro{
        margin: 30px 0;
    }

    .hobbies{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 349px){
    .nome-inicio{
        height: 150px;
    }

    .redes-itens a{
        display: flex;
        justify-content: center;
    }

    .identificacao{
        padding: 15px 0;
        margin: 50px 0;
    }
}
/*
@media screen and (min-height: 1080px){
    footer{
        position: relative;
        bottom: 0;
        width: 100%;
    }
}
*/